/*
html5doctor.com Reset Stylesheet
v1.6.1
Last Updated: 2010-09-17
Author: Richard Clark - http://richclarkdesign.com
Twitter: @rich_clark
*/
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

body {
  line-height: 1;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

nav ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

/* change colours to suit your needs */
ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none;
}

/* change colours to suit your needs */
mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold;
}

del {
  text-decoration: line-through;
}

abbr[title], dfn[title] {
  border-bottom: 1px dotted;
  cursor: help;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* change border colour to suit your needs */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #cccccc;
  margin: 1em 0;
  padding: 0;
}

input, select {
  vertical-align: middle;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

@media screen and (max-width: 767px) {
  html {
    font-size: 55%;
  }
}

@media screen and (max-width: 576px) {
  html {
    font-size: 40%;
  }
}

body {
  font-family: 'Noto Sans JP', sans-serif;
  font-size: 16px;
  font-weight: bold;
  line-height: 1.5;
  color: #333;
}

@media screen and (max-width: 767px) {
  body {
    font-weight: normal;
  }
}

a {
  text-decoration: none;
  color: #333;
  -webkit-transition: opacity .3s;
  transition: opacity .3s;
}

a:hover {
  opacity: .6;
}

.inner {
  max-width: 1024px;
  margin: 0 auto;
  padding: 0 20px;
}

img {
  width: 100%;
  height: auto;
  vertical-align: bottom;
}

.main {
  background-image: url(../img/main-circle.png);
  background-size: 708px 711px;
  background-repeat: no-repeat;
  background-position: top -130px right -85px;
  margin-top: 94px;
  padding: 131px 0 113px 0;
}

@media screen and (min-width: 1500px) {
  .main {
    background-size: 60vw 60vw;
    background-position: top -30vw right -10vw;
  }
}

@media screen and (max-width: 1023px) {
  .main {
    background-size: 70vw 70vw;
    background-position: top -11vw right -10vw;
  }
}

@media screen and (max-width: 767px) {
  .main {
    margin-top: 70px;
  }
}

@media screen and (max-width: 767px) {
  .main {
    padding: 50px 0;
  }
}

.main__inner {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (max-width: 767px) {
  .main__inner {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
    -webkit-flex-direction: column-reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
}

.main__img {
  max-width: 518px;
}

@media screen and (max-width: 1023px) {
  .main__img {
    width: 45%;
  }
}

.main__copy {
  margin-right: 20px;
}

@media screen and (max-width: 767px) {
  .main__copy {
    text-align: center;
  }
}

.main__heading {
  font-size: 3.2rem;
  font-weight: bold;
  line-height: 1.4375;
  margin-bottom: 44px;
}

.main__txt {
  margin-bottom: 45px;
}

@media screen and (max-width: 767px) {
  .main__btn {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.feature {
  padding: 71px 0 154px 0;
}

@media screen and (max-width: 767px) {
  .feature {
    padding: 50px 0;
  }
}

.feature__ttl {
  margin-bottom: 57px;
}

.feature .f-item__ttl {
  font-size: 2.8rem;
  font-weight: bold;
  text-align: center;
}

.feature .f-item__wrap {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media screen and (max-width: 1023px) {
  .feature .f-item__wrap {
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media screen and (max-width: 767px) {
  .feature .f-item__wrap {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.feature .f-item__heading {
  font-size: 2.4rem;
  line-height: 2;
}

@media screen and (max-width: 1023px) {
  .feature .f-item__heading {
    font-size: 2.2rem;
    line-height: 1.7;
  }
}

@media screen and (max-width: 767px) {
  .feature .f-item__heading {
    text-align: center;
  }
}

.feature .f-item__txt {
  line-height: 1.625;
}

@media screen and (max-width: 576px) {
  .feature .f-item__txt br {
    display: none;
  }
}

.feature .f-item._01 {
  margin-bottom: 82px;
}

.feature .f-item._01 .f-item__wrap {
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

.feature .f-item._01 .f-item__ttl {
  margin-bottom: 49px;
}

.feature .f-item._01 .f-item__img {
  max-width: 380px;
  margin-right: 10px;
}

@media screen and (max-width: 1023px) {
  .feature .f-item._01 .f-item__img {
    width: 30%;
    margin-right: 20px;
  }
}

@media screen and (max-width: 767px) {
  .feature .f-item._01 .f-item__img {
    width: 50%;
    margin-right: 0;
    margin-bottom: 20px;
  }
}

.feature .f-item._01 .f-item__heading {
  margin-bottom: 45px;
}

.feature .f-item._02 {
  margin-bottom: 128px;
}

.feature .f-item._02 .f-item__ttl {
  margin-bottom: 64px;
}

.feature .f-item._02 .f-item__wrap {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
  -webkit-flex-direction: row-reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
      -ms-flex-align: start;
          align-items: flex-start;
}

@media screen and (max-width: 1023px) {
  .feature .f-item._02 .f-item__wrap {
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media screen and (max-width: 767px) {
  .feature .f-item._02 .f-item__wrap {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.feature .f-item._02 .f-item__img {
  max-width: 479px;
}

@media screen and (max-width: 1023px) {
  .feature .f-item._02 .f-item__img {
    width: 30%;
    margin-left: 20px;
  }
}

@media screen and (max-width: 767px) {
  .feature .f-item._02 .f-item__img {
    width: 50%;
    margin-left: 0;
    margin-bottom: 20px;
  }
}

.feature .f-item._02 .f-item__heading {
  margin-bottom: 49px;
}

.feature .f-item._03 .f-item__ttl {
  margin-bottom: 63px;
}

.feature .f-item._03 .f-item__wrap {
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media screen and (max-width: 1023px) {
  .feature .f-item._03 .f-item__wrap {
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.feature .f-item._03 .f-item__heading {
  margin-bottom: 42px;
}

.feature .f-item._03 .f-item__img {
  max-width: 400px;
  margin-right: 173px;
}

@media screen and (max-width: 1023px) {
  .feature .f-item._03 .f-item__img {
    width: 30%;
    margin-right: 20px;
  }
}

@media screen and (max-width: 767px) {
  .feature .f-item._03 .f-item__img {
    width: 50%;
    margin-right: 0;
    margin-bottom: 20px;
  }
}

.price {
  padding: 55px 0 73px 0;
  background: #EEFBFB;
}

@media screen and (max-width: 767px) {
  .price {
    padding: 50px 0;
  }
}

.price__ttl {
  margin-bottom: 73px;
}

@media screen and (max-width: 767px) {
  .price__ttl {
    margin-bottom: 50px;
  }
}

.price__table {
  margin: 0 auto 36px;
}

.price .p-table {
  table-layout: fixed;
  width: 100%;
  max-width: 926px;
  border-collapse: collapse;
  background: #fff;
  -webkit-box-shadow: 0px 3px 6px #00000029;
          box-shadow: 0px 3px 6px #00000029;
}

.price .p-table th, .price .p-table td {
  height: 100px;
  border: 1px solid #E5E5E5;
  vertical-align: middle;
}

@media screen and (max-width: 767px) {
  .price .p-table th, .price .p-table td {
    display: block;
    height: 50px;
  }
}

.price .p-table th {
  width: 30%;
  text-align: left;
  padding-left: 19px;
}

@media screen and (max-width: 1023px) {
  .price .p-table th {
    width: 40%;
    text-align: center;
  }
}

@media screen and (max-width: 767px) {
  .price .p-table th {
    width: 100%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media screen and (max-width: 576px) {
  .price .p-table th {
    padding-left: 0;
  }
}

.price .p-table td {
  width: 70%;
  padding-left: 30px;
}

@media screen and (max-width: 1023px) {
  .price .p-table td {
    width: 60%;
  }
}

@media screen and (max-width: 767px) {
  .price .p-table td {
    width: 100%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    background: #f2f2f2;
  }
}

.price__comment {
  text-align: center;
}

.faq {
  font-size: 14px;
  padding: 55px 0 86px 0;
}

@media screen and (max-width: 767px) {
  .faq {
    padding: 50px;
  }
}

@media screen and (max-width: 576px) {
  .faq {
    padding: 0;
  }
}

.faq__ttl {
  margin-bottom: 32px;
}

.faq__list {
  border: 1px solid #E5E5E5;
  max-width: 907px;
  margin: 0 auto;
}

.faq__q {
  cursor: pointer;
  text-align: center;
  padding: 17px;
}

.faq__q:not(:first-of-type) {
  border-top: 1px solid #E5E5E5;
}

@media screen and (max-width: 576px) {
  .faq__q {
    padding: 10px;
  }
}

.faq__a {
  padding: 26px 35px;
  background: #F2F2F2;
}

@media screen and (max-width: 576px) {
  .faq__a {
    padding: 15px;
  }
}

@media screen and (max-width: 1023px) {
  .faq__a > br {
    display: none;
  }
}

.blog {
  background: #EEFBFB;
  padding: 55px 0 91px 0;
}

@media screen and (max-width: 767px) {
  .blog {
    padding: 50px 0;
  }
}

.blog__inner {
  padding: 0 20px;
}

.blog__ttl {
  margin-bottom: 54px;
}

.blog__items {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media screen and (max-width: 767px) {
  .blog__items {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.blog__item:not(:last-of-type) {
  margin-right: 30px;
}

@media screen and (max-width: 767px) {
  .blog__item:not(:last-of-type) {
    margin-right: 0;
  }
}

@media screen and (max-width: 767px) {
  .blog__item {
    margin-bottom: 30px;
  }
}

.blog .b-item {
  -webkit-box-shadow: 0px 3px 6px #00000029;
          box-shadow: 0px 3px 6px #00000029;
  position: relative;
  width: 100%;
  max-width: 389px;
  background: #fff;
  -webkit-transition: -webkit-transform .3s;
  transition: -webkit-transform .3s;
  transition: transform .3s;
  transition: transform .3s, -webkit-transform .3s;
}

.blog .b-item:hover {
  -webkit-transform: scale(1.05, 1.05);
          transform: scale(1.05, 1.05);
}

.blog .b-item__img {
  width: 100%;
}

.blog .b-item__ttl {
  padding: 14px 18px 35px;
  font-size: 1.8rem;
  line-height: 1.44;
}

@media screen and (max-width: 1023px) {
  .blog .b-item__ttl {
    font-size: 16px;
  }
}

@media screen and (max-width: 1250px) {
  .blog .b-item__ttl br {
    display: none;
  }
}

.blog .b-item__date {
  position: absolute;
  bottom: 10px;
  right: 32px;
}

.works {
  padding: 55px 0 90px;
}

@media screen and (max-width: 767px) {
  .works {
    padding: 50px 0;
  }
}

.works-ttl {
  margin-bottom: 68px;
}

.works-ttl > span {
  padding-top: 6px !important;
}

.works-items {
  width: 100%;
}

.works-card {
  margin-right: 28px;
  margin-left: 28px;
  border: 1px solid #DDDDDD;
  border-radius: 8px;
  width: 322px;
}

.works-cardimg {
  width: 100%;
  padding-top: 65.52%;
  position: relative;
  overflow: hidden;
  margin-bottom: 18px;
}

.works-cardimg img {
  width: 100%;
  height: auto;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 8px 8px 0  0;
}

.works-cardttl {
  padding: 0 15px 0;
  margin-bottom: 25px;
  line-height: 1.7;
}

@media screen and (min-width: 1500px) {
  .works-cardttl br {
    display: none;
  }
}

@media screen and (max-width: 1350px) {
  .works-cardttl br {
    display: none;
  }
}

.works-cardinfo {
  font-size: 14px;
  padding: 0 17px;
  margin-bottom: 30px;
  line-height: 1.7;
}

.contact {
  padding: 41px 0 50px;
  background: -webkit-gradient(linear, left top, right top, from(#05A5FA), to(#67FFD6));
  background: -webkit-linear-gradient(left, #05A5FA, #67FFD6);
  background: linear-gradient(left, #05A5FA, #67FFD6);
}

.contact__inner {
  padding: 20px;
}

.contact__ttl {
  color: #fff;
  margin-bottom: 36px;
}

.contact__ttl .text-white {
  color: #fff;
}

.contact__comment {
  color: #fff;
  text-align: center;
  margin-bottom: 41px;
}

.contact .c-form {
  padding: 31px 62px 35px;
  max-width: 908px;
  background: #fff;
  margin: 0 auto;
}

@media screen and (max-width: 767px) {
  .contact .c-form {
    padding: 31px 20px 35px 20px;
  }
}

.contact .c-form label {
  font-weight: bold;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

.contact .c-form label > span {
  display: inline-block;
  margin-left: 23px;
  width: 60px;
  height: 30px;
  background: #0C449B;
  border-radius: 10px;
  color: #fff;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

.contact .c-form input, .contact .c-form textarea {
  border: none;
  outline: none;
  margin: 0;
  padding: 0;
}

.contact .c-form input#name, .contact .c-form input#mail {
  background: #EEFBFB;
  width: 100%;
  max-width: 499px;
  font-size: 1.8rem;
  padding: 10px;
}

@media screen and (max-width: 767px) {
  .contact .c-form input#name, .contact .c-form input#mail {
    font-size: 16px;
  }
}

.contact .c-form textarea#content {
  width: 100%;
  max-width: 783px;
  height: 179px;
  background: #EEFBFB;
  padding: 10px;
  font-size: 1.8rem;
}

@media screen and (max-width: 767px) {
  .contact .c-form textarea#content {
    font-size: 16px;
  }
}

.contact .c-form input[type="checkbox"] {
  outline: none;
  width: 20px;
  height: 20px;
}

.contact .c-form .form-error {
  color: red;
  font-size: 14px;
  font-weight: normal;
}

.contact .c-form .formgroup-name > label {
  margin-bottom: 36px;
}

.contact .c-form .formgroup-name > input {
  margin-bottom: 27px;
}

.contact .c-form .formgroup-email > label {
  margin-bottom: 35px;
}

.contact .c-form .formgroup-email > input {
  margin-bottom: 19px;
}

.contact .c-form .formgroup-content > label {
  margin-bottom: 35px;
}

.contact .c-form .formgroup-content > textarea {
  margin-bottom: 25px;
}

.contact .c-form .formgroup-privacy .privacy-error {
  font-size: 14px;
  color: red;
  font-weight: normal;
  text-align: center;
}

.contact .c-form .formgroup-privacy > label {
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 29px;
}

@media screen and (max-width: 767px) {
  .contact .c-form .formgroup-privacy > label {
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
}

.contact .c-form .formgroup-privacy input#privacy {
  margin-right: 10px;
}

.contact .c-form .submit-btn {
  margin: 0 auto;
  cursor: pointer;
  -webkit-transition: .3s;
  transition: .3s;
}

.contact .c-form .submit-btn:hover {
  opacity: .6;
}

.contact .c-form .thx-message, .contact .c-form .false-message {
  text-align: center;
  margin: 0 auto;
  display: none;
}

.js-toggle-btn {
  display: none;
  background: #fff;
  width: 50px;
  height: 50px;
  position: relative;
  cursor: pointer;
}

@media screen and (max-width: 1023px) {
  .js-toggle-btn {
    display: block;
  }
}

.js-toggle-btn > span {
  -webkit-transition: .5s;
  transition: .5s;
  display: block;
  width: 30px;
  height: 2px;
  background: #333;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, 50%);
          transform: translate(-50%, 50%);
}

.js-toggle-btn > span::before {
  content: "";
  width: 30px;
  height: 2px;
  background: #333;
  position: absolute;
  top: -8px;
}

.js-toggle-btn > span::after {
  content: "";
  width: 30px;
  height: 2px;
  background: #333;
  position: absolute;
  top: 8px;
}

.js-toggle-btn.is-active span {
  -webkit-transition: all .5s;
  transition: all .5s;
  background: transparent;
}

.js-toggle-btn.is-active span::before {
  position: absolute;
  top: 0;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.js-toggle-btn.is-active span::after {
  position: absolute;
  top: 0;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.js-toggle-menu {
  background: #fff;
  opacity: .8;
  -webkit-transition: all .3s;
  transition: all .3s;
  position: absolute;
  top: 94px;
  right: -40vw;
  width: 40vw;
  height: 100vh;
  padding: 20px;
}

@media screen and (max-width: 767px) {
  .js-toggle-menu {
    top: 70px;
    right: -60vw;
    width: 60vw;
  }
}

.js-toggle-menu .toggle-nav-item {
  padding: 1em;
  text-align: center;
}

.js-toggle-menu.is-active {
  position: absolute;
  right: 0;
}

.js-effect-fade {
  opacity: 0;
  -webkit-transform: translate(0, 100px);
          transform: translate(0, 100px);
  -webkit-transition: all 2000ms;
  transition: all 2000ms;
}

.js-effect-scroll {
  opacity: 1;
  -webkit-transform: translate(0, 0);
          transform: translate(0, 0);
}

.js-answer:not(:first-of-type) {
  display: none;
}

.gradient-btn {
  width: 155px;
  height: 37px;
  font-size: 14px;
  font-weight: bold;
  color: #fff;
  background: -webkit-gradient(linear, left top, right top, from(#FA41CC), to(#6020B0));
  background: -webkit-linear-gradient(left, #FA41CC, #6020B0);
  background: linear-gradient(left, #FA41CC, #6020B0);
  border-radius: 10px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-shadow: 0px 3px 6px #00000029;
          box-shadow: 0px 3px 6px #00000029;
}

.footer {
  padding: 43px 0 49px;
  text-align: center;
}

@media screen and (max-width: 767px) {
  .footer {
    padding: 30px 0;
  }
}

.footer__logo {
  font-size: 2.4rem;
  margin-bottom: 21px;
}

.footer__privacy {
  margin-bottom: 52px;
}

@media screen and (max-width: 767px) {
  .footer__privacy {
    margin-bottom: 20px;
  }
}

.footer__privacy > a {
  margin-left: 30px;
}

@media screen and (max-width: 767px) {
  .footer__privacy > a {
    display: block;
    margin: 0;
  }
}

.footer__copyright {
  font-size: 14px;
  font-weight: normal;
}

.header {
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 5;
  height: 94px;
  background: #fff;
  -webkit-box-shadow: 0px 3px 6px #00000029;
          box-shadow: 0px 3px 6px #00000029;
}

@media screen and (max-width: 767px) {
  .header {
    height: 70px;
  }
}

.header__inner {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  height: inherit;
}

.header__logo {
  font-size: 2.4rem;
  margin-right: 20px;
}

.header__logo .logo__wrap {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__logo .logo__img {
  margin-right: 16px;
  width: 47px;
  height: 47px;
}

@media screen and (max-width: 1023px) {
  .header__nav {
    display: none;
  }
}

@media screen and (max-width: 1023px) {
  .header__btn {
    display: none;
  }
}

.header .gnav {
  margin-right: 20px;
}

.header .gnav__list {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

.header .gnav__item {
  margin-right: 46px;
}

.section-ttl {
  font-size: 3.2rem;
  font-weight: bold;
  text-align: center;
}

.section-ttl span {
  font-size: 1.6rem;
  font-weight: bold;
  display: block;
  color: #3BA6C9;
  margin-top: 10px;
}
/*# sourceMappingURL=style.css.map */